*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
}

/* navbar section */
.navbar{
    /* border:1px solid red; */
    width: 100%;
    height: 10vh;
    display: flex;
    position: fixed;
}
.nav-brand{
    height: 10vh;
    width: 55%;
}
.nav-brand-name{
    height: 10vh;
    margin-left: 100px;
    display: flex;
    align-items: center;
}
.nav-brand-name p{
    font-size: 1.7rem;
    font-family: 'Quicksand', sans-serif;
    /* border: 1px solid red; */
    font-weight: 700;


}

.nav-Menu{
    height: 10vh;
    width: 40%;
    
}
.nav-Menu ul{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-Menu ul li{
    list-style: none;
    position: relative;
}
.nav-Menu ul li span{
    
    /* border: 1px solid blue; */
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 31px;
    width: 100%;
}
.nav-Menu ul li span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 26px;
    background-color:rgb(137, 43, 226) ;
    bottom: 0;
    left: 5px;
    
}
.nav-Menu ul li span:hover::before{
    width: 84%;
    transition: width 0.4s ease-in-out;
}
.nav-Menu ul li::before{
    content: "";
    position: absolute;
    width: 0;
    height: 26px;
    background-color:rgba(137, 43, 226,0.7) ;
    bottom: 4px;
    right: 5px;
}
.nav-Menu ul li:hover::before{
    width: 84%;
    transition: width 0.4s ease-in-out;
}
.nav-Menu ul li span::after{
    content: "";
    position: absolute;
    inset: 4px;
    background-color:#fff;

}
.nav-Menu ul li a{
    text-decoration: none;
    color: black;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    z-index: 2;
}

/* home section */
#home{
    border: 2px solid red;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.introBox{
    border: 1px solid green;
    height: 70vh;
    width: 50vw;
    
}

@media screen and (max-width:768px) and (min-width:481px){
        
}